@model WebApplication2.Controllers.Character[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td>id</td>
            <td>full name</td>
            <td>gender</td>
            <td>birthdate</td>
            <td>age</td>
            <td>bloodType</td>
            <td>site</td>
        </tr>
        @foreach (var Character in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem=>Character.id)</td>
                <td>@Html.DisplayFor(modelItem=>Character.name)</td>
                <td>@Html.DisplayFor(modelItem=>Character.gender)</td>
                <td>@Html.DisplayFor(modelItem=>Character.dateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem=>Character.age)</td>
                <td>@Html.DisplayFor(modelItem=>Character.bloodType)</td>
                <td>@Html.DisplayFor(modelItem=>Character.siteUrl)</td>
            </tr>
        }
    </table>
  
</div>
