@model WebApplication2.Controllers.Character
@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>    
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="wwwroot/css/site.css"/>
</head>
<body>
    <style>
    table {
        border: 1px solid #dddddd;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
<<<<<<< HEAD

    button {
        margin: 10px;
        width: auto;
    }
    </style>

    <form action="/Sort">
    <button style="float:left">Sort in reverse order</button>
    </form>

        <form action="/Description">
    <button>View description</button>
    </form>

=======
    </style>

>>>>>>> 676cad7658ee381a62600754ec2cca80a967b774
<div class="table">
    <table>
        <tr>
            <td>id</td>
            <td>full name</td>
            <td>gender</td>
            <td>birthdate</td>
            <td>age</td>
            <td>site</td>
        </tr>
<<<<<<< HEAD
         @foreach (var Character in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem=>Character.id)</td>
                <td>@Html.DisplayFor(modelItem=>Character.name)</td>
                <td>@Html.DisplayFor(modelItem=>Character.gender)</td>
                <td>@Html.DisplayFor(modelItem=>Character.dateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem=>Character.age)</td>
                <td>@Html.DisplayFor(modelItem=>Character.siteUrl)</td>
            </tr>
            }
=======

            <tr>
                <td>@Html.DisplayFor(modelItem=>Model.id)</td>
                <td>@Html.DisplayFor(modelItem=>Model.name)</td>
                <td>@Html.DisplayFor(modelItem=>Model.gender)</td>
                <td>@Html.DisplayFor(modelItem=>Model.dateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem=>Model.age)</td>
                <td>@Html.DisplayFor(modelItem=>Model.siteUrl)</td>
            </tr>
            
>>>>>>> 676cad7658ee381a62600754ec2cca80a967b774
    </table>
  
</div>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 676cad7658ee381a62600754ec2cca80a967b774
